* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0b0b0b;
  color: #fff;
}

.hero {
  position: relative;
  text-align: center;
}

.hero img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  opacity: 0.85;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-text p {
  margin-bottom: 20px;
}

.btn {
  background: #00ff88;
  color: #000;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.dark {
  background: #111;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 8px;
}

.lista {
  list-style: none;
}

.lista li {
  margin: 10px 0;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.galeria img {
  width: 100%;
  border-radius: 8px;
}

.bancos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.bancos span {
  background: #1a1a1a;
  padding: 10px 20px;
  border-radius: 5px;
}

footer {
  padding: 20px;
  text-align: center;
  background: #000;
  font-size: 0.9rem;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 1.8rem;
  }
}
.bancos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.banco {
  background: #1a1a1a;
  padding: 15px 20px;
  border-radius: 8px;
  width: 120px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.banco img {
  width: 28px;       /* tamanho pequeno */
  height: 28px;
  object-fit: contain;
}

.banco span {
  font-size: 0.95rem;
  font-weight: 500;
}
